{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='check_out.css') }}"/>
 {% endblock %}

{% block content %}
<body>
<form>
    <button>
        <a href="/" title="go to home page">Go to home page</a>
    </button>
</form>
<table border="1 px">
    <tr>
        {% for n in results[0] %}
        <th>{{n}}</th>
        {% endfor %}
        <th>check out</th>
    </tr>
    {% for i in results[1]%}

    <tr>
        {% for x in i %}
        <td>
            {{ x}}
        </td>
        {% endfor %}
        <td>
            <a style="color: black" href="/checkout?user id={{user_id}}&book id= {{i[0]}}">
                Checkout
            </a>

        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
