{% extends "base.html" %}
{% block css %}
 <link rel="stylesheet" href="{{ url_for('static',filename='create_member.css') }}"/>

{% endblock %}


{% block content %}


<body>
<h1>Create Account </h1>
<form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="dob">DOB:</label>
    <input type="date" id="dob" name="dob">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <input type="submit" class="button">
    <a href="/" title="go to home page" class="button">Go to home page</a>
</form>
{% endblock %}