{% extends "base.html" %}
{% block css %}
            <link rel="stylesheet" href= "{{ url_for('static',filename='input_date.css') }}"/>
{% endblock %}
{% block content %}

<body>

<form>
    <label for="first">first DOB:</label>
    <input type="date" id="first" name="date_from">

    <label for="second">second DOB:</label>
    <input type="date" id="second" name="date_to">

    <button type="submit">Submit</button>
    <button>
    <a href="/" title="go to home page" it>Go to home page</a>
    </button>
</form>
{% endblock %}
